<div class="container mx-auto">
    <h1 class="text-2xl font-bold mt-4 mb-8">Lista de vuelos</h1>
    <div *ngFor="let flight of data" class="mb-4 p-4 border rounded-lg">
      <div class="text-lg font-semibold">{{ flight.origin }} - {{ flight.destination }}</div>
      <div class="text-gray-600">Price: ${{ flight.price }}</div>
      <div class="mt-2">
        <h2 class="text-xl font-semibold">Flights</h2>
        <ul>
          <li *ngFor="let flightDetail of flight.flights">
            <div>{{ flightDetail.origin }} to {{ flightDetail.destination }}</div>
            <div>Price: ${{ flightDetail.price }}</div>
          </li>
        </ul>
      </div>
    </div>
 </div>